Author: **George Wright**

# 1. First steps with *Python* on *Jupyter*

### Goals


- learn usage of *Jupyther Lab* notebooks
- learn basics of the *Python* syntax

Recommended resource: https://www.kaggle.com

## 1.1 Usage of ```Jupyter Lab```

- Notebooks are made of a sequence of cells
- Cells can contain different content such as Python code or Markdown ([Markdown basics](https://www.markdownguide.org/basic-syntax))
- You can change the cell type in the toolbar
- To execute a cell press "Shift+Return"
- The result of the last line will be printed below the cell (this behavior can be disabled by adding a semicolon to the end of the last line)
- Use the tool bar to add, delete, copy, or insert cells

### *1.1 TASK*

1. Edit the first line of this notebook and enter your own name.
2. Python was named for the British comedy troupe Monty Python, so why not make our first Python program an homage to their famous Spam skit? Just for fun, try reading over the code below and predicting together with your neighbor what it's going to do when run. (If you have no idea, that's fine!)
Then execute the cell to see the results of our little program.

In [7]:
spam_amount = 0
print(spam_amount)

# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam " * spam_amount
print(viking_song)

0
But I don't want ANY spam!
Spam Spam Spam Spam

## 1.2 Python

A variable is something that holds a value that may change. In simplest terms, a variable is just a box that you can put stuff in. You can use variables to store all kinds of stuff. For example the integer number 123456:

In [ ]:
variable_0 = 123456

#### Data types / objects

A selection of frequently used Python data types / objects is given here:

|Data type   | Examples                                                 |
|------------|----------------------------------------------------------|
|```bool```  |either ```True``` or ```False```                          |
|```int```   |1, 6, -1, 0, 3244, ...                                    |
|```float``` |3.14, -43535.345, 0.0, ...                                |
|```str```   |"Hello world!", "nothing", ...                            |
|```tuple``` |(1,2), (1231.32, ```True```, "Hello world!", None)...     |
|```list```  |[```True```, 1, 3.14, "Hello!", [1,2,34]], ...            |
|```dict```  |{"some key": 1.24233, "another key": "anything"}, ...     |

*Examples:*

In [12]:
# bool 
a = True
b = False

In [13]:
# int
c = -2
d = 3

In [14]:
# float
e = 3.1
f = -2342.4324

In [15]:
# str
g = "Hello!"

In [16]:
# list
h = [1,5,23,-1]
j = [a,b,c,d,e,f,g,h,"I can put anything into a list! :)"]
k = range(10)

In [17]:
# dict
l = {"key1": "any content", "key2": 13, "key1000": [1,4,6]}

#### Operators

- Comparisons: "==", ">", "<", ">=", "<=", ...
- Arithmetics: "+", "-", "*", "/", "//", ...

In [18]:
# Comparisons
a == b

False

In [19]:
b == False

True

In [20]:
c > d

False

In [21]:
c >= c

True

In [22]:
# If statements
if g == "Hello!":
    print("'g' equals the string 'Hello!'")
else:
    print("'g' does not equal the string 'Hello!'.")

'g' equals the string 'Hello!'

In [23]:
# Arithmetics
e + f

-2339.3324000000002

In [24]:
h + j

[1,
 5,
 23,
 -1,
 True,
 False,
 -2,
 3,
 3.1,
 -2342.4324,
 'Hello!',
 [1, 5, 23, -1],
 'I can put anything into a list! :)']

In [25]:
c/d

-0.6666666666666666

In [26]:
c//d

-1

### Functions

Functions allow you to separate and re-use a piece of code.

In [27]:
def my_function(arg1, arg2, arg3=True):
    result = arg1 + arg2
    if arg3:
        result = result * 2
    return result

### Loops

Using _for_-loops allow you to run tasks repeatedly on a data sequence.

In [28]:
# Example 1
for letter in "abcde":
    print(letter)

a
b
c
d
e

In [29]:
# Example 2
for h_i in h:
    print(h_i)

1
5
23
-1

In [31]:
# Example 3
for i in range(len(h)):
    print (i, h[i])

0 1
1 5
2 23
3 -1

In [33]:
# Example 4
for key in l.keys():
    print (key, l[key])

key1 any content
key2 13
key1000 [1, 4, 6]

### Classes

Class definitions are the core of the concept of object oriented programming. Classes allow you to link functions and data that belong together in objects. Classes are templates for the creation of objects (or class instances). Objects have attributes (i.e. variables/data) and methods (i.e. functions).

In [ ]:
pi = 3.1416
class Circle:
    def __init__(self, radius):
        self.radius = radius
    def area(self):
        return 3.1416*(self.radius)**2
    def diameter(self):
        return self.radius*2
    def circumference(self):
        return 2*pi*self.radius

C = Circle(2.)
print(f"The circle has an area of {C.area()}")

### *1.2 TASKS*

1. Define a string variable that defines the peptide sequence of human Ubiquitin-1
2. Write a program that counts the number of alanines in the sequence
3. Write a program that creates a new sequence in which all alanines are replaced by cysteines.
4. Copy your code from 2. and 3. into two new cells and re-organise the code into functions. 
5. Copy your functions into a new cell and make a class definition Sequence for it.

In [90]:
# TYPE YOUR CODE HERE
ubq = 'MQIFVKTLTGKTITLEVEPSDTIENVKAKIQDKEGIPPDQQRLIFAGKQLEDGRTLSDYNIQKESTLHLVLRLRGG'
def count_A(x):
    no_A = 0
    for letter in x:
        if letter == 'A':
            no_A = no_A + 1
    print(no_A)
    
def A_to_C(x):
    newseq = ''
    for letter in x:
        if letter == 'A':
            newseq = newseq + 'C'
        else:
            newseq = newseq + letter
    print(newseq)

In [91]:
count_A(ubq)
A_to_C(ubq)

2
MQIFVKTLTGKTITLEVEPSDTIENVKCKIQDKEGIPPDQQRLIFCGKQLEDGRTLSDYNIQKESTLHLVLRLRGG

In [107]:
class Sequence:
    def __init__(self, x, countres, resi, resf):
        self.x = x
        self.countres = countres
        self.resi = resi
        self.resf = resf
        
    def count(self):
        no = 0
        for letter in self.x:
            if letter == self.countres:
                no = no + 1
        return (no ,self.countres)
    
    def resreplace(self):
        newseq = ''
        for letter in self.x:
            if letter == self.resi:
                newseq = newseq + self.resf
            else:
                newseq = newseq + letter
        return (newseq)

In [108]:
S = Sequence(ubq, 'A', 'A', 'C')
print(f'There are {S.count()} residues.')
print(f'The new sequence is {S.resreplace()}')

There are (2, 'A') residues.
The new sequence is MQIFVKTLTGKTITLEVEPSDTIENVKCKIQDKEGIPPDQQRLIFCGKQLEDGRTLSDYNIQKESTLHLVLRLRGG

## 1.3 Using external packages

There is a huge amount of useful Python packages. Many packages are already shipped with your Python installation, others you need to install for example with the command line package manager _pip_.

Before using them in your code you must "_import_" the package.

In [48]:
# We import the standard "time" package
import time

Look up the help message for the function _time.time(...)_ by executing

In [49]:
help(time.time)

Help on built-in function time in module time:

time(...)
    time() -> floating point number

    Return the current time in seconds since the Epoch.
    Fractions of a second may be present if the system clock provides them.

In [50]:
t1 = time.time()
time.sleep(1.)
t2 = time.time()
print(f"This took {t2-t1} seconds.")

This took 1.0005877017974854 seconds.

### *1.3 TASKS*

Use _time.time(...)_ and the _pandas.read_excel(...)_ to measure the time that passes to open one of your excel sheets with the Pandas package.

In [73]:
import pandas
# TYPE YOUR CODE HERE
ti = time.time()
pandas.read_excel('C:\\Users\cvrgroup\Documents\George\protondata.xlsx')
tf = time.time()
print(f'This took {tf - ti} seconds.')

This took 0.3286910057067871 seconds.

Help on function read_excel in module pandas.io.excel:

read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, **kwds)
    Read an Excel table into a pandas DataFrame

    Parameters
    ----------
    io : string, path object (pathlib.Path or py._path.local.LocalPath),
        file-like object, pandas ExcelFile, or xlrd workbook.
        The string could be a URL. Valid URL schemes include http, ftp, s3,
        and file. For file URLs, a host is expected. For instance, a local
        file could be file://localhost/path/to/workbook.xlsx
    sheet_name : string, int, mixed list of strings/ints, or None, default 0

        Strings are used for sheet names, Integers are used in zero-indexed
        sheet positions.

        Lists of strings/integers are used to request multiple sheets.

        Specify None to get all sheets.

        str|int -> DataFrame is returned.
        list|None -> Dict of DataFrames is returned, with keys representing
        sheets.

        Available Cases

        * Defaults to 0 -> 1st sheet as a DataFrame
        * 1 -> 2nd sheet as a DataFrame
        * "Sheet1" -> 1st sheet as a DataFrame
        * [0,1,"Sheet5"] -> 1st, 2nd & 5th sheet as a dictionary of DataFrames
        * None -> All sheets as a dictionary of DataFrames

    sheetname : string, int, mixed list of strings/ints, or None, default 0

        .. deprecated:: 0.21.0
           Use `sheet_name` instead

    header : int, list of ints, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None
    index_col : int, list of ints, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.
    parse_cols : int or list, default None

        .. deprecated:: 0.21.0
           Pass in `usecols` instead.

    usecols : int or list, default None
        * If None then parse all columns,
        * If int then indicates last column to be parsed
        * If list of ints then indicates list of column numbers to be parsed
        * If string then indicates comma separated list of Excel column letters and
          column ranges (e.g. "A:E" or "A,C,E:F").  Ranges are inclusive of
          both sides.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `object` to preserve data as stored in Excel and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 0.20.0

    engine: string, default None
        If io is not a buffer or path, this must be set to identify io.
        Acceptable values are None or xlrd
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True

        .. versionadded:: 0.19.0

    false_values : list, default None
        Values to consider as False

        .. versionadded:: 0.19.0

    skiprows : list-like
        Rows to skip at the beginning (0-indexed)
    nrows : int, default None
        Number of rows to parse

        .. versionadded:: 0.23.0

    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skip_footer : int, default 0

        .. deprecated:: 0.23.0
           Pass in `skipfooter` instead.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed)
    convert_float : boolean, default True
        convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally

    Returns
    -------
    parsed : DataFrame or Dict of DataFrames
        DataFrame from the passed in Excel file.  See notes in sheet_name
        argument for more information on when a Dict of Dataframes is returned.

    Examples
    --------

    An example DataFrame written to a local file

    >>> df_out = pd.DataFrame([('string1', 1),
    ...                        ('string2', 2),
    ...                        ('string3', 3)],
    ...                       columns=['Name', 'Value'])
    >>> df_out
          Name  Value
    0  string1      1
    1  string2      2
    2  string3      3
    >>> df_out.to_excel('tmp.xlsx')

    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx')
          Name  Value
    0  string1      1
    1  string2      2
    2  string3      3

    >>> pd.read_excel(open('tmp.xlsx','rb'))
          Name  Value
    0  string1      1
    1  string2      2
    2  string3      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)
         0        1      2
    0  NaN     Name  Value
    1  0.0  string1      1
    2  1.0  string2      2
    3  2.0  string3      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', dtype={'Name':str, 'Value':float})
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2  string3    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx',
    ...               na_values=['string1', 'string2'])
          Name  Value
    0      NaN      1
    1      NaN      2
    2  string3      3

    Comment lines in the excel input file can be skipped using the `comment` kwarg

    >>> df = pd.DataFrame({'a': ['1', '#2'], 'b': ['2', '3']})
    >>> df.to_excel('tmp.xlsx', index=False)
    >>> pd.read_excel('tmp.xlsx')
        a  b
    0   1  2
    1  #2  3

    >>> pd.read_excel('tmp.xlsx', comment='#')
       a  b
    0  1  2